/*********************************
Normalize CSS and general and 
common settings
*********************************/

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #daede2;
}

.page-wrapper {
  background: #77c4d3;
  margin: 5%;
}

<<<<<<< HEAD
/************************************
Header Section
************************************/

header,
.summary {
  padding: 4%;
}

header,
.summary {
  color: #fff;
  text-transform: uppercase;
}

.intro header h1 {
  font-weight: 300;
  background-color: #ea2e49;
  width: min-content;
  white-space: nowrap;
  padding: 0.6em 1em;
  margin: 0px;
  font-size: 1.3em;
}

.intro header h2 {
  font-weight: 900;
  text-transform: none;
  font-size: 4.3em;
  margin: 0.3em 0 0;
}

.summary {
  font-size: 0.9em;
  line-height: 1.5em;
}

.summary p {
  margin: 0;
  padding: 1.3em 0;
  font-weight: 500;
}
.summary p:first-child {
  border-bottom: 1px solid #ea2e49;
}

.intro a,
.sidebar a {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-bottom 0.4s ease;
}

.intro a:hover,
.sidebar a:hover {
  border-bottom: 1px solid #ea2e49;
}

.intro a:link,
.intro a:visited {
  color: #fff;
}

/************************************
Sidebar Section
************************************/

.sidebar {
  background-color: #eaf298;
  padding: 4% 4% 10%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  color: rgba(0, 0, 0, 0.4);
}

.sidebar a:link,
.sidebar a:visited {
  color: #000;
}

/************************************
Design Selection Section
************************************/

.select {
  margin: 0.7em 0 0;
}

.select,
.archives,
.resources {
  font-size: 1.7em;
  font-weight: 300;
}

.design-selection ul > li,
.design-archives ul > li,
.zen-resources ul > li {
  font-size: 0.9em;
  margin: 0 0 0.9em;
}

/************************************
Design Archives Section
************************************/

.archives,
.resources {
  margin: 1.7em 0 0;
}

/************************************
Zen Resources Section
************************************/
=======
/*********************************
Preamble section
*********************************/
.preamble {
  width: 100%;
  position: relative;
  left: -5.5%;
  padding: 1em 1.2em 1em 3em;
  background: #ffffffe5
}

.preamble h3 {
  margin-bottom: 0.7em;
  font-size: 1.5em;
  font-weight: normal;
  transform: scaleY(1.3);
}

.preamble p {
  font-size: 0.8em;
  line-height: 1.5em;
  letter-spacing: 0.1px;
}

/*********************************
Preamble section
*********************************/

.main {
  padding: 4em 10% 0;
}

.main h3 {
  margin-bottom: 0.7em;
  font-size: 1.5em;
  font-weight: normal;
  transform: scaleY(1.3);
}

.main p,
.preamble p {
  font-size: 0.8em;
  line-height: 1.5em;
  letter-spacing: 0.1px;
}

.explanation,
.participation {
  color: #fff;
}

.participation {
  width: 110%;
  position: relative;
  left: -5%;
  padding: 5% 5%;
  background: rgba(234, 46, 73, 0.9);
}

.benefits,
.requirements {
  width: 110%;
  position: relative;
  left: -5%;
  padding: 5% 5%;
  background: rgba(255, 255, 255, 0.9);
}

.benefits {
  margin-top: 2.5em;
}

.requirements p:last-child::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  margin-bottom: 0.7em;
  border-top: 0.8px solid rgba(234, 46, 73, 0.9);
}

.requirements p:last-child {
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.main a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color: #000;
  text-decoration: none;
}

footer {
  width: 55%;
  height: 5em;
  position: relative;
  left: -5%;
  padding: 1.4em 1.5em 1.4em 1.4em;
  background: rgba(246, 247, 146, 0.9);
  font-size: 0.8em;
  line-height: 1.4em;
}

footer a{
  margin-right: 0.4em;
}








@media (min-width: 550px) {}
>>>>>>> ngoc
